CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_UPLOAD_PRESET=your_unsigned_upload_preset

DEALS_URL=http://localhost:5002
USER_DOMAIN_URL=http://localhost:3000
ANALYTICS_URL=http://localhost:5000
RECOMMENDATION_URL=http://localhost:3005

REDIS_URL=redis://localhost:6379
REDIS_PREFIX=api-gateway
REDIS_DEFAULT_TTL_SECONDS=300
